.currentSitutation{
  align-items: center;
}

.currentWeatherImage,.currentTemperature,.currentSituationName{
  text-align: center;

}

.currentWeatherImage{
  margin:0 0 9.3vh 0;

}

.currentTemperature{
  margin:0 0 4vh 0;

}

.currentTemperature span.temperatureValue {

font-size: 144px;

color: #E7E7EB;

}


.currentTemperature span.temperatureUnit {

  font-size: 48px;
  
  color: #E7E7EB;
  
  }

.currentSituationName span{
  font-size:36px;
  color:#A09FB1;


}
  