main {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.current {
  background: #1e213a;
  height: 100vh;
  width: 100vw;
}

.forecasts-details {
  background: #100e1d;
  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
  }
  .current {
    height: 30vh;
    position: relative;
    

  }
  .forecasts-details {
    height: 70vh;
  }
}

@media screen and (min-width: 1024px) {
  main {
    flex-direction: row;
  }
  .current {
    width: 450px;
  }
  .forecasts-details {
    width:calc(100% - 450px)
    
  }
}

@media screen and (min-width: 1200px) {
  
  .current {
    width: 450px;
  }
  
}
